---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const allPosts = await getCollection("blog");

const pageTitle = "Blog Posts";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I share my thoughts and experiences.</p>

  {
    allPosts.map((post: any) => (
      <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
    ))
  }
</BaseLayout>
