---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);

const pageTitle = "Blog Posts";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I share my thoughts and experiences.</p>

  {
    allPosts.map((post: any) => (
      <BlogPost url={post.url} title={post.frontmatter.title} />
    ))
  }
</BaseLayout>
